# Server port
PORT=3001

# MAX Messenger Bot Token
BOT_TOKEN=f9LHodD0cOKAeqhSUF83IlVf99PSQ09jy98YSkb3LjJtJNU-1BTZ13V38LWfR19tWateBVDI0NyaT9rC3C_W

# Optional AI API Key (OpenAI compatible)
# OPENAI_API_KEY=
